.post-img{
    height: 450px;
    overflow: hidden;
    /* margin-top: 10px;
     */
}

.post-img img{
  
    /* margin-top: 10px; */
    overflow: hidden;
    width: 100%;
}

.blog-post-content{
    /* color: blue; */
    /* background-color: brown; */
    text-align: center;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.blog-post-content h1{
    text-align: center;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
